@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #A38873 21.43%,
    #A07B60 50.63%,
    #855C43 100%,
    #52352D 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(212, 173, 130, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #52352D 21.43%,
    #855C43 50.63%,
    #A07B60 100%,
    #A38873 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #52352D 21.43%,
    #855C43 50.63%,
    #A07B60 100%,
    #A38873 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.overscroll-none {
  overscroll-behavior: none;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-black to-[#52352D] font-bold font-primary hover:from-[#52352D] hover:to-black;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
